:root {
        --primary-color: #ff5757;
        --primary-color-alt: #ff8484;
        --linear-gradient: linear-gradient(54deg,
                rgba(255, 87, 87, 1) 34%,
                hsla(0, 34%, 71%, 0.95));
}